{% extends 'chooseright/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div id="page-content" class="no-padding no-shadow">


	<h2 class="page-title">My Account</h2>

	<div class="no-padding no-shadow profile-content">
		<div class="side-bar-menu-wrapper column-left-lg">

			<div class="widget">

				<div class="sidebar-widget">

					<h2>My Apps</h2>
					<hr>

					<ul class="widget-list">

						<li class="">
							<a class="widget-link" href="{% url 'users:wish_list' %}">
								<span>
									<i class="far fa-heart"></i>
									Wish List
								</span>
							</a>
						</li>

						<li class="">
							<a class="widget-link" href="{% url 'users:feedback' %}">
								<span>
									<i class="fas fa-feather-alt"></i>
									Reviews
								</span>
							</a>
						</li>

					</ul>

				</div>

			</div>

			<div class="widget">

				<div class="sidebar-widget">

					<h2>Account Options</h2>
					<hr>

					<ul class="widget-list">
						<li class="">
							<a class="widget-link" href="{% url 'users:dash_board' %}">
								<span>
									<i class="fas fa-user-circle"></i>
									Dashboard
								</span>
							</a>
						</li>
						<li class="">
							<a class="widget-link" href="{% url 'users:change_password' %}">
								<span>
									<i class="fas fa-key"></i>
									Change Password
								</span>
							</a>
						</li>
						<li class="">
							<a class="widget-link" href="{% url 'users:profile' %}">
								<span>
									<i class="fas fa-user-cog"></i>
									Update Profile
								</span>
							</a>
						</li>
					</ul>

				</div>

			</div>

		</div>


		<div class="column-right-lg">

			<div class="change-password-box-container">

				<legend class="border-bottom mb-4">Change Password</legend>
				<form method="POST" class="change-password">
					{% csrf_token %}
					<fieldset class="form-group-main">
						{{ form|crispy }}
					</fieldset>

					<div class="form-group-options">
						<button class="btn btn-outline-primary form-button" type="submit">Change Password</button>
					</div>

				</form>

			</div>

		</div>

	</div>
</div>

{% endblock content %}