{% extends 'chooseright/base.html' %}

{% block content %}

<div id="page-content" class="no-padding no-shadow">


	<h2 class="page-title">My Account</h2>

	<div class="no-padding no-shadow profile-content">
		<div class="side-bar-menu-wrapper column-left-lg">

			<div class="widget">

				<div class="sidebar-widget">

					<h2>My Apps</h2>
					<hr>

					<ul class="widget-list">

						<li class="">
							<a class="widget-link" href="{% url 'users:wish_list' %}">
								<span>
									<i class="far fa-heart"></i>
									Wish List
								</span>
							</a>
						</li>

						<li class="">
							<a class="widget-link" href="{% url 'users:feedback' %}">
								<span>
									<i class="fas fa-feather-alt"></i>
									Feedback
								</span>
							</a>
						</li>

					</ul>

				</div>

			</div>

			<div class="widget">

				<div class="sidebar-widget">

					<h2>Account Options</h2>
					<hr>

					<ul class="widget-list">
						<li class="">
							<a class="widget-link" href="{% url 'users:dash_board' %}">
								<span>
									<i class="fas fa-user-circle"></i>
									Dashboard
								</span>
							</a>
						</li>
						<li class="">
							<a class="widget-link" href="{% url 'users:change_password' %}">
								<span>
									<i class="fas fa-key"></i>
									Change Password
								</span>
							</a>
						</li>
						<li class="">
							<a class="widget-link" href="{% url 'users:profile' %}">
								<span>
									<i class="fas fa-user-cog"></i>
									Update Profile
								</span>
							</a>
						</li>
					</ul>

				</div>

			</div>

		</div>


		<div class="column-right-lg">

			<div class="dashboard-box">

				<div class="dash-box-hd">
					<h3>
						<span class="fl">
							<div class="media">
								<img class="rounded-circle account-img" src="{{user.profile.image.url }}">
								<div class="media-body">
									<h2 class="account-heading"> Welcome {{user.username}}!</h2>
									<p class="text-secondary">{{user.email}}</p>
									<span class="text-secondary">Member Since:</span> 
									<span class="text-secondary">{{ user.date_joined|date:"D, d M, Y" }}</span> 
								</div>
							</div>
						</span> 
					</h3>
				</div>

				<div class="dashboard-content">

					<ul class="account-content">
						
						<li class="account-wishlist">
							<legend class="border-bottom accout-legend">My Wishlist</legend>
							<span class="account-info">
								You have {{wishlist}} products in your wishlist.
							</span>
						</li>
						<li class="account-reviews">
							<legend class="border-bottom accout-legend">My Reviews</legend>
							<span class="account-info">
								{% if feedback == 0 %}
									You have provided feedback {{feedback}} times!
									<br>
									We value your feedback and views about our work with high regards.
								{% else %}
									You have provided feedback {{feedback}} times! Thank You.
									<br>
									We value your feedback and views about our work with high regards.
								{% endif %}
							</span>
						</li>

					</ul>

				</div>

			</div>

		</div>

	</div>
</div>

{% endblock content %}