{% extends 'users/index.html' %}

{% block content %}
<div class="content-wrapper-reset">
	<legend class="border-bottom mb-4">Password Reset</legend>
	<div class="alert alert-info">
		We have emailed you insturctions on how to reset your password. If an account exists with the email that you provided, then you should receive the email shortly. If you don't receive an email please make sure that you entered the email provided at the time of registration, and check your spam mails as well.
		<br>
		Thank You !
	</div>
</div>
{% endblock content %}