{% load static %}
{% load socialaccount %}
{% providers_media_js %}
<!DOCTYPE html>
<html>
<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="{% static '/css/bootstrap.css' %}?{% now 'U' %}" rel="stylesheet" type="text/css">
	<link href="{% static '/css/bootstrap.min.css' %}?{% now 'U' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'tellme/feedback.min.css' %}" rel="stylesheet">
	<link href="{% static '/icons/Fonts Awesome Icons/css/all.css' %}" rel="stylesheet" type="text/css">
	<link rel="icon" href="{% static '/icons/favicon.ico' %}">
	<link href="{% static '/css/style.css' %}?{% now 'U' %}" rel="stylesheet" type="text/css">

	<title>About - Choose Right</title>

</head>
<body>
</body>
</html>