{% extends 'chooseright/base.html' %}
{% block content %}

<div class="page-content">

	<h2 class="main-title"> Who We Are</h2>
	<p>Choose Right is the product of our work for fulfiling the final year project. We are a team of three members. We have worked on this project to make price comparison and shopping experiences easy for you – on a budget!, need a smart phone or a laptop. Yes we have got that covered for you. </p>
	<p>This project is about three things; high-quality products, great savings and easy shopping!</p>
	<p>We understand how the Pakistani economy and culture encourages you to go an extra mile in order to save money with every purchase. We just make it easier for you to do so!</p>
	<p>Chooseright is your highway to effortless price comparison in the Pakistani market.</p>
	<p>We’ve listed some of popular and not-so-popular merchants in Pakistan who sell similar high-quality products. So you don’t need to surf through different stores in the scorching heat (or in the super-chilled winters) to find out which one offers the best deal; we get you a list of merchants who sell the services/products you need, and the prices they charge.</p>

</div>

{% endblock %}