<div class="footer-wrapper">
			
			<div class="footer-wrapper-info">
				
				<div class="footer-col">
					<div class="footer-column-title">Register to stay updated</div>
						<div>
							<a href="{% url 'users:register' %}" class="footer-btn">Register</a>
						</div>
						<p>Register today to get latest news straight to your inbox.</p>
				</div>
				
				<div class="footer-col">
					<div class="footer-column-title">Information</div>
						<ul class="footer-list">
							<li><a href="{% url 'core:about' %}">About Us</a></li>
							<li><a href="{% url 'core:terms_of_use' %}">Terms Of Use</a></li>
							<li><a href="{% url 'core:privacy_policy' %}">Privacy Policy</a></li>
						</ul>
				</div>
				
				
			</div>

			<div class="footer-wrapper-copywrite">
				 <div align="center"><p>Copyright © 2020 Chooseright.pk. All Rights Reserved.</p></div>
			</div>
		
		</div>