{% extends 'chooseright/base.html' %}

{% block content %}

<div class="product-row">

	{% for products in product_pages %}

			<div class="card-container">

			<div class="card-inside">
				<img class="card-img-top" src="{% for i in product %}{% if products.product_name == i.product_name %}{{i.image.url}}{% endif %}{% endfor %}" alt="Card image cap">
				<div class="card-body">
					
					<a class="card-title" href="{% url 'core:compare' %}?p_name={% for i in product %}{% if products.product_name == i.product_name %}{{i.product_name}}{% endif %}{% endfor %}">
						{% for i in product %}
							{% if products.product_name == i.product_name %}
								{{i.product_name}}
							{% endif %}
						{% endfor %}
					</a>

					<div class="card-price">
						<span class="price-sign">Rs.</span>
						<span class="price">
							{% for i in product %}
								{% if products.product_name == i.product_name %}
									{{i.product_price}}
								{% endif %}
							{% endfor %}
						</span>
					</div>
				</div>
			</div>

			<div class="card-compare">
				<a href="{% url 'core:compare' %}?p_name={% for i in product %}{% if products.product_name == i.product_name %}{{i.product_name}}{% endif %}{% endfor %}" class="compare-button"><span>Let's Compare</span></a>
			</div>

		</div>	

	{% endfor %}

</div>

{% endblock content %}
