{% extends 'chooseright/base.html' %}
{% block content %}
<div class="page-content">
	<h2 class="main-title">Terms of Use</h2>
	<p>
		Chooseright is an online price comparison shopping site operated by domain-name and its corporate affiliates,
		certain co-branded versions of its sites under contract with other third parties (collectively, “us”, “we”, or “the Company”).
		<br>
		<br>
		By using and accessing our site at doamin-name or the mobile version thereof (together the “Site”) or by
		posting any content on the site, you (the “User”, “Merchant”, “Buyer”, “Advertiser”) signify that you have read,
		understand and agree to be bound by these Terms of Use (“Terms of Use” or Agreement), whether or not you have registered as a user or are an advertiser or merchant exhibiting products on the site.
		<br>
		<br>
		We reserve the right, at our sole discretion, to change, modify, add, or delete portions of these Terms of Use at any time without further notice. These changes will be posted to the Terms of Use on this page and this page will indicate the date the terms were last revised.
		Your continued use of the Site after any such changes will constitute your acceptance of the revised Terms of Use. If you do not agree to abide by these or any future Terms of Use, please do not use or access (or continue to use or access) this Site. It remains your responsibility to regularly check this section of the Site to determine if there have been any changes to these Terms of Use and to review such changes.
		<br>
		<br>
		Use of the Site may also be subject to additional terms and conditions defined by our content providers ("Licensors") as stipulated on applicable pages of the Site, which you also accept by your use of the Site.
		<br>
		<br>
		<label class="font-weight-bold">LICENSE AND SITE ACCESS</label>
		<br>
		Choose Right grants you a non-exclusive right and license to access and use the Site for personal, noncommercial purposes, other than to purchase or sell items through the Site's Comparison Service, or to purchase items from third-party merchants accessible via
		links on the Site.
		<br>
		<br>
		This license does not include and strictly prohibits: any resale of the Site or its contents; any collection and use of any product listings, descriptions, or prices other than as expressly authorized herein; any derivative use of the Site or its contents; or any use of data mining, robots, or similar data gathering and extraction tools. Except for your own User Content, you may not upload or republish Site Content on any Internet, Intranet or Extranet site or incorporate the information in any other database or compilation. Any use of the Site or the
		Site Content other than as specifically authorized herein, without prior written permission of Company, is strictly prohibited and will terminate the license granted herein.
		<br>
		<br>
		All content on the Site and that available through the Comparison Service, including designs, texts, graphics, pictures, videos, information, applications, software, music, sound, price and cost calculators, zipcode finder and other files and their selection and arrangement (the “Site Content”), are the proprietary property of the Company, its users or its licensors with all rights reserved. Site Content cannot be modified, copied, distributed, reproduced, framed, republished, downloaded, scraped, displayed, posted, transmitted,
		except that the foregoing does not apply to your own User Content (as defined below) that you legally post on the Site (e.g. merchant or product reviews).
		<br>
		<br>
		The Site, including its operation, interface and contents, are covered by Pakistan copyright laws and international laws and treaties, and may not be reproduced, duplicated, copied, sold, resold, visited, or otherwise exploited for any unauthorized or commercial purpose.
		Any unauthorized use shall immediately terminate the licenses and rights granted by Choose RIght and any Licensors hereunder, and may subject you to civil and/or criminal prosecution. Such unauthorized use may also violate applicable laws including copyright and trademark laws and applicable communications regulations and statues. Unless explicitly stated herein, nothing in these Terms of Use shall be construed as conferring any license to intellectual property rights, whether by estoppel, implication or otherwise.
		This license is revocable at any time without notice and with or without cause.
		<br>
		<br>
		You are granted a limited, revocable, and nonexclusive right to create a hyperlink to any page of the Site so long as the link does not portray Choose Right, its subsidiaries, affiliates, Licensors, co-brand partners and other partners or its or their respective services in a false, misleading, derogatory or otherwise offensive or damaging manner. You may not use any Choose Right, Licensor, subsidiary,
		affiliate, co-brand partner, or other partner logo or other proprietary graphic or trademark as part of a link to the Site without first obtaining the express written consent of Choose Right, the subsidiary, affiliate, co-brand partner or other partner or Licensor (as applicable).
		<br>
		<br>
		Choose Right does not guarantee continuous, uninterrupted or secure access to its services or the Site, and the operation of the Site may be interfered with by numerous factors outside or within Choose Right's control.
		<br>
		<br>
		<label class="font-weight-bold">TRADEMARKS</label>
		<br>
		Choose Righth, Comparison Service, Marketplace and other Company graphics, logos, page headers, designs, buttons icons, scripts, are registered trademarks and trade appearance in Pakistan. and/or other countries. Company trademarks and trade appearance may not be used, including as part of trademarks and/or as part of domain names, in connection with any product or service in any manner that is likely to cause confusion and may not be copied, imitated, or used, in whole or in part, without the prior written permission of the company
		<br>
		<br>
		<label class="font-weight-bold">CONTENT</label>
		<br>
		Choose Right provides a number of different services to assist you in comparison shopping for products and services on the Site.
		<br>
		<br>
		Choose Right does not sell, resell or license any of the products listed on the Site, nor is Choose Right acting as an agent of sale, and Choose Right disclaims any responsibility for, or liability related to, such products and services (see Disclaimer of Warranties and Limitation of Liability, below). Any questions, complaints or claims related to any product purchase should be directed to the appropriate merchant or seller.
		<br>
		<br>
		Choose Right does not warrant that product descriptions, pricing, editorial commentary or any other content of the Site, regardless of its source, is accurate, complete, reliable, current or error-free. Site content is provided for informational purposes only and does not constitute an endorsement by Choose Right of any product, merchant, seller, service, or any reviews or comments thereof regardless of the source of such review or comment. Choose Right assumes no liability for inaccuracy or incompleteness in its search results, editorial content, user ratings (e.g. Merchant Ranking, or buyer product rating) or other content on the Site.
		<br>
		<br>
		<label class="font-weight-bold">CONTENT SUBMISSION</label>
		<br>
		By contributing or submitting any content to the Site, you authorize and direct us to make such copies thereof as we deem necessary in order
		to facilitate the posting and storage of the User or Merchant Content on the Site. By posting User or Merchant content to any part of the Site,
		you automatically grant, and your present and warrant you have the right to grant, to the Company an irrevocable, royalty-free, perpetual,
		non-exclusive, transferable, fully paid, worldwide license (with a right to sublicense) to use, copy, publicly perform, publicly display,
		reformat, translate, excerpt (in whole or in part), and distribute such User and Merchant Content for any purpose, commercial, advertising,
		or otherwise, on or in connection with the Site or the promotion thereof, to prepare derivative works of, or incorporate into other works
		in any form, medium or technology such User and Merchant content, and to grant and authorize sublicenses of the foregoing.
		<br>
		<br>
		In addition, you warrant that all "moral rights" that you may have in those materials have been voluntarily waived by you. None of the
		materials shall be subject to any obligation of confidence on the part of Choose Right, its agents, subsidiaries, affiliates, Licensors,
		co-brand partners or other partners and their respective directors, officers, employees, agents and representatives. Choose Right reserves
		the right to change, condense or delete any content on the Site that Choose Right deems, in its sole discretion.
		<br>
		<br>
		<label class="font-weight-bold">YOUR RESPONSIBILITIES</label>
		<br>
		You agree that you shall not post or provide any information to/for the Sites:
		<br>
		<br>
		that is known by you to be false, inaccurate or misleading;
		<br>
		<br>
		that infringes any third party's copyright, patent, trademark, trade secret or other proprietary rights or rights of publicity or privacy;
		that violates any law, statute, ordinance or regulation in any applicable jurisdictions (including, but not limited to, those governing
		export control, consumer protection, unfair competition, anti-discrimination, false advertising and privacy);
		<br>
		<br>
		that is, or may reasonably be considered to be, defamatory, hateful, racially or religiously biased or offensive (including the use of
		swear words), unlawfully threatening or unlawfully harassing to any individual, partnership or corporation; for which you were compensated
		or granted any consideration by any third party; that seeks to obtain a commercial advantage; that includes any information that references
		other web sites, addresses, email addresses, contact information, phone numbers or other personal information such as credit card numbers;
		or that contains any computer viruses, worms or other damaging or potentially damaging computer programs or files.
		<br>
		<br>
		In contributing or submitting any content to the Site, you agree not to use a false or misleading email address, impersonate any person
		or entity, or otherwise provide any misleading information as to the origin of any content that you submit. You should also note your
		obligations to indemnify Choose Right (among others) for the content you submit as set forth in the indemnity section, below.
		<br>
		<br>
		You agree that you will not use any device, software or routine to bypass our robot exclusion headers, or to interfere or attempt to
		interfere with the proper working of the Site or any sales being conducted through the Site. You agree that you will not take any action
		that imposes an unreasonable or disproportionately large load on Choose Right's computer systems or communications infrastructure.
		You agree that you will not use any software robot, spider, other automatic device or manual process to monitor or copy Site pages or
		the content contained therein without Choose Right's prior written consent.
		<br>
		<br>
		<label class="font-weight-bold">Choose Right MARKETPLACE</label>
		<br>
		Parties to a transaction (“buyer” and “seller”) are solely responsible for all transactions and interactions with each other, for arranging
		of payment and the exchange of goods and services purchases if applicable, and for the results and performance of any transaction or
		relationship entered into through Choose Right Comparison Engine pages and Marketplace. You acknowledge that Choose Right is not
		responsible or liable for any action or inaction of any party to a transaction, for any failure to perform, to pay any amounts due,
		or to deliver any merchandise or services promised, or for any other aspect of the transaction. Any fees payments collected by Choose Right
		applicable to Choose Right Comparison Engine and Marketplace are set forth on the Site, and all terms and conditions are applicable to such
		fees are forth in Merchant and Advertiser Agreements. However please note that these terms of sale do not apply to your purchases of products
		or services from third parties through the Choose Right Comparison Engine and Marketplace, as those transactions are strictly between you
		and the other party to the transaction. ALL USE OF PRICEBLAZE COMPARISON ENGINE AND MARKETPLACE IS PROVIDED “AS IS” AT YOUR OWN RISK.
		<br>
		<br>
		<label class="font-weight-bold">OTHER BUSINESSES AND LINKS TO OTHER SITES </label>
		<br>
		Choose Right may provide links to the sites of third-party merchants, affiliated companies, co-brand partners and other parties.
		These links are provided solely as a convenience to you, and do not constitute an endorsement by Choose Right of the content of such
		third-party sites nor of the business practices of such other businesses, entities or individuals. Choose Right is not responsible
		for examining or evaluating, and does not warrant or claim responsibility in any way, the products, services, offerings or business
		practices of any of these businesses, entities or individuals or the content of their web sites. You should carefully review their privacy
		statements and other conditions of use.
		<br>
		<br>
		Choose Right has no control over the business practices of any third-party merchant or seller, nor does it control in any way the quality,
		safety or legality of any item listed on the Site or any business transaction that occurs as a result of products listed on the Site.
		<br>
		<br>
		in the event of a dispute between you and a merchant listed on the site, to the maximum extent permitted by applicable law, you release
		choose right, its subsidiaries, affiliates, co-brand partners or other third parties under contract with choose right, and their respective
		officers, directors, employees, agents, and legal representatives from and against claims and damages of any kind, known and unknown,
		suspected and unsuspected, disclosed and undisclosed, arising out of or in any way connected with such a dispute.
		<br>
		<br>
		<label class="font-weight-bold">DISCLAIMER OF WARRANTIES AND LIMITATION OF LIABILITY</label>
		<br>
		The site is provided by choose right on an "as is" and on an "as available" basis. To the fullest extent permitted by applicable law,
		choose right makes no representations or warranties of any kind, express or implied, as to the operation of the site or the information,
		content, graphics, links, materials, products, or services included on the site, or their accuracy, reliability, completeness or timeliness.
		in addition, third parties provide some of the material on the site; to the maximum extent permitted by applicable law, choose right shall
		not be responsible for any such third party material. You expressly agree that your use of the site or any transaction resulting thereof
		is solely at your own risk. Choose right does not guarantee continuous, uninterrupted or secure access to the site or the services.
		Operation of the site may be interfered with by numerous factors outside of choose right's control.
		<br>
		<br>
		To the fullest extent permitted by applicable law, choose right disclaims all warranties, express or implied, including, but not limited to,
		implied warranties of title, merchantability, fitness for a particular purpose, and non-infringement of proprietary or third party rights
		regarding the site. To the fullest extent permitted by applicable law, choose right makes no warranties or representations regarding any
		products or services reviewed on the site or bought and/or sold using the site, or that sellers or buyers will perform as promised by them,
		or that the site, its servers, or e-mail sent from choose right are free of viruses or other harmful components. to the maximum extent
		permitted by applicable law, choose right will not be liable for any damages of any kind arising from the use of the site, including, but not
		limited to, direct, indirect, incidental, punitive and consequential damages, or any damages related to loss of business or business opportunities.
		<br>
		<br>
		If you are dissatisfied with any of the contents of the site, or do not agree with these terms and conditions, with choose right's privacy
		policy or any other policies of the site, your sole remedy is to discontinue your use of the site.
		<br>
		<br>
		<label class="font-weight-bold">INDEMNITY</label>
		<br>
		To the maximum extent permitted by applicable law, you agree to defend, indemnify and hold Choose Right, its subsidiaries, affiliates,
		co-brand partners, and other parties with which Choose Right is under contract, and their respective officers, directors, employees and
		agents free and harmless from and against any claims, actions and demands, including, without limitation, any legal and accounting fees
		resulting from your use of the Site and/or your breach of the Terms of Use and Privacy Statement and/or Member Agreement, and/or resulting
		from any and all content you submit to Choose Right and/or the Site. Choose Right shall provide notice to you of any such claim, suit or
		proceeding.
		<br>
		<br>
		<label class="font-weight-bold">APPLICABLE LAW AND JURISDICTION</label>
		<br>
		These Terms and Conditions shall be interpreted and governed by the laws in force in Pakistan. Each party hereby agrees to submit to the
		jurisdiction of the Pakistan courts and to waive any objections based upon venue.
		<br>
		<br>
		<label class="font-weight-bold">GENERAL</label>
		<br>
		If any provision of these Terms of Use and Privacy Statement or the Member Agreement is held to be invalid, void or unenforceable for any reason,
		such provision shall be struck and the remaining provisions shall remain enforceable. Headings are for reference purposes only and in no way
		define, limit, construe or describe the scope or extent of such section. Our failure to act with respect to a breach by you or others does
		not waive our right to act with respect to subsequent or similar breaches. You agree that these Terms of Use and Privacy Statement and the
		Member Agreement and all agreements and notices incorporated herein may be automatically assigned by Choose Right, in our sole discretion,
		to a third party. You may not assign your obligations to any other entity.
		<br>
		<br>
		<label class="font-weight-bold">Copyrights and Trademarks</label>
		<br>
		All content, graphics, format, design, the user interface and other copyrighted material on the Site (collectively, "materials") are protected
		by copyright law and other intellectual property laws, and are owned by Choose Right and/or its licensors (as the case may be). The materials
		from the Site are only available for informational and non-commercial offline use, provided that: the materials are not modified in any way;
		all copyright and other proprietary notices and markings are retained and reproduced in their entirety on any copy made from any material on
		the Site; and Choose Right has, in its sole discretion, given its prior written approval to such use of the Site's materials. Any requests
		to re-use the Site's materials should be sent to: info@Choose Right.
		<br>
		<br>
		Choose Right is a registered trademark of Choose Right, and the www.Choose Right logo and Comparison Service, Part Configurator
		marks are trademarks of Choose Right. Any other product names, marks, symbols, trade names, company names and/or logos which appear within
		the Site are the property of their respective owners and appear through the courtesy of, and/or a license from, such owners. Such marks,
		in addition to the Choose Right trademarks, are protected by Pakistan law, including without limitation its laws on trademark and unfair
		competition, and may also be protected by the laws in other countries.
		<br>
		<br>
	</p>
</div>

{% endblock %}