{% load static %}

<!DOCTYPE html>
<html>
<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="{% static 'chooseright/css/bootstrap.css' %}?{% now 'U' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'chooseright/css/bootstrap.min.css' %}?{% now 'U' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'tellme/feedback.min.css' %}" rel="stylesheet">
	<link href="{% static 'chooseright/icons/Fonts Awesome Icons/css/all.css' %}" rel="stylesheet" type="text/css">
	<link rel="icon" href="{% static 'chooseright/icons/favicon.ico' %}">
	<link href="{% static 'chooseright/css/style.css' %}?{% now 'U' %}" rel="stylesheet" type="text/css">

	<title>404! Page Not Found</title>
</head>
<body>

	<div class="page-wrapper">
		<div class="jumbotron">
			<h1 class="display-4">404 Error! Page Not Found</h1>
			<p class="lead">Sorry, The page you requested is missing or does not exist.</p>
			<div xmlns="http://www.w3.org/1999/xhtml" id="errorLongDesc">
				<strong xmlns="http://www.w3.org/1999/xhtml">If that address is correct, here are other things you can try:</strong>
				<ul xmlns="http://www.w3.org/1999/xhtml">
					<li>Try again later.</li>
					<li>Check your network connection.</li>
				</ul>
			</div>
			<hr class="my-4">
			<p class="lead">
				<a class="btn btn-primary btn-lg" href="{% url 'core:home' %}" role="button">Visit Homepage</a>
			</p>
		</div>
	</div>

	{% include 'chooseright/scripts.html' %}

</body>
</html>